*.elc
*.rel
*_archive
*_flymake.*
*~
.*.sw[a-p]
.Trash-*
.\#*
.cask/
.dir-locals.el
.directory
.fuse_hidden*
.netrwhist
.nfs*
.org-id-locations
.projectile
.sw[a-p]
/.emacs.desktop
/.emacs.desktop.lock
/auto/
/elpa/
/eshell/history
/eshell/lastdir
/server/
Session.vim
\#*\#
anaconda-mode/
auto-save-list
company-statistics-cache.el
dist/
ede-projects.el
flycheck_*.el
places
projectile-bookmarks.eld
smex-items
tags
tramp
url/cache/
